/problema1/Problema1_taller04/nbproject/private/
/problema1/Problema1_taller04/build/
/problema2/Problema2_taller04/nbproject/private/
/problema2/Problema2_taller04/build/
/problema3/Problema3_taller04/nbproject/private/
/problema3/Problema3_taller04/build/
/problema4/Problema4_taller04/nbproject/private/
/problema4/Problema4_taller04/build/
